
@{
    ViewBag.Title = "Index";
}

@if(ViewBag.displayMenu == "Admin")
{
    <h1>Welcome Admin. This is the admin Home Page</h1>

}
else if(ViewBag.displayMenu == "Staff")
{
    <h1>Welcome <strong>@ViewBag.Name</strong>. This is the Staff Home Page</h1>
}
else
{
    <h1>Welcome <strong>@ViewBag.Name</strong>. This is the Customer Home Page</h1>
}

<h2>Index</h2>

